.tensor {
  &-panel {
    position: relative;
    scroll-behavior: smooth;
  }

  &-grid {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    z-index: 1;

    &.dragging {
      z-index: 100;
    }

    &.placeholder {
      z-index: 99;

      .tensor-grid-card {
        border: dashed 3px dodgerblue;
        background-color: #00ff0033;
        margin: 0;
      }
    }

    &-card {
      border: solid 3px dodgerblue;
      background-color: aliceblue;
      padding: 10px;
      margin: 5px;
    }
  }
}
